.filter {
  width: 100vw;
  text-align: center;
  padding: 48px;
  background: #f9f1e7;
}

.filter button {
  margin-top: 48px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0 24px;
  cursor: pointer;
}

.overview-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 48px;
}

.products-overview {
  display: grid;
  padding: 48px;
}

.filter h1 {
  font-size: 32px;
  color: #333333;
  font-weight: bold;
  letter-spacing: 0;
}

.overview-section button {
  padding: 12px 84px;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border: 1px solid #0c5ca3;
  color: #0c5ca3;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.overview-section button:hover {
  background: #0c5ca3;
  color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 92, 163, 0.3);
}

/* mobile */
@media (max-width: 576px) {
  .products-overview {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
  .filter {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 36px 72px;
  }
  .filter button {
    margin: 8px 0;
    text-align: left;
    padding: 0;
  }
}

/* tablet */
@media (min-width: 576px) and (max-width: 768px) {
  .products-overview {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

/* tablet-landscape */
@media (min-width: 768px) and (max-width: 1024px) {
  .products-overview {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }
}

/* laptops and large screens */
@media (min-width: 1024px) {
  .products-overview {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
