nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  background: rgba(255, 255, 255, 0.84);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 4px;
  color: #fff;
  font-size: 1.2rem;
}

nav img {
  height: 72px;
}

.nav-elements {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav-elements p,
.menu-items p {
  font-weight: 500;
  font-size: 16px;
  line-height: auto;
  color: #333333;
  letter-spacing: 0px;
  transition: all 0.3s ease;
}

.nav-elements p:hover {
  color: #6a6a6a;
}

.nav-elements p.active,
.menu-items p.active {
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0px;
  color: #0c5ca3;
  font-weight: 600;
}

.cart-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c5ca3;
  gap: 6px;
  position: relative;
  padding: 14px;
}

.cart-icon {
  z-index: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon span {
  z-index: 2; 
  background: #0c5ca3;
  color: #fff;
  font-size: 12px;
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px; 
  left: 26px;
  border: 1px solid #fff; 
  animation: bounce 1s infinite; /
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}

.cart-nav p {
  font-weight: 500;
  font-size: 16px;
  line-height: auto;
  color: #0c5ca3;
  letter-spacing: 0px;
}

.cart-nav p.active {
  font-weight: 600;
  font-size: 16px;
  line-height: auto;
  color: #0c5ca3;
  letter-spacing: 0px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 92px;
  border-radius: 12px;
  right: 16%;
  width: 36%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 11;
  gap: 12px;
  padding: 12px;
}

.menu-items li{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mobile */
@media (max-width: 576px) {
  .nav-elements,
  .cart-nav {
    display: none;
  }
}

/* tablet */
@media (min-width: 576px) and (max-width: 768px) {
  .nav-elements,
  .cart-nav {
    display: none;
  }
  .cart-icon{
    position: relative;
  }
  .cart-icon span{
    top: 2px; 
    left: 2px;
  }
}

/* tablet-landscape */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-elements {
    gap: 24px;
  }
  .menu,
  .menu-items {
    display: none;
  }
}

/* laptops and large screens */
@media (min-width: 1024px) {
  .menu,
  .menu-items {
    display: none;
  }
}
